branca==0.4.2
folium==0.12.1
numpy==1.21.0
pandas==1.2.4
plotly==4.14.3
predicthq>=1.8.3
pytz==2017.3
timezonefinder==5.2.0
aiohttp==3.7.4.post0
asyncio==3.4.3
backoff==1.10.0
bleach==3.3.0
calmap==0.0.9
iso8601==0.1.14
matplotlib==3.4.2
seaborn==0.11.1
uvloop==0.15.2