folium==0.12.1
geopy==2.1.0
numpy==1.20.3
matplotlib==3.4.2
pandas==1.0.5
plotly==4.14.3
predicthq>=1.6.3
pytz==2017.2
timezonefinder==5.2.0
tonyg-rfc3339==0.1
calmap==0.0.9
aiohttp==3.7.4.post0
backoff==1.10.0
iso8601==0.1.14
requests==2.25.1
seaborn==0.11.1
uvloop==0.15.2





